
		<% provide(:title, "Projects") %>


		<div class="fh5co-project-style-2">
			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 col-md-offset-3 text-center">
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">While I attended General Assembly Los Angeles I learned a number of languages and worked on many projects in condensed time periods. Some of the projects were individual and others were team based. I worked on the front-end and back-end on all of them and here are a few:</p>
					</div>
				</div>
			</div>
			<div class="fh5co-projects">
				<ul>
					<li class="wow fadeInUp fIU1" data-wow-duration="1s" data-wow-delay="1.7s" data-stellar-background-ratio="0.5">
						<a href="https://steves.firebaseapp.com/">
							<div class="fh5co-overlay"></div>
							<div class="container">
								<div class="fh5co-text">
									<div class="fh5co-text-inner">
										<div class="row">
											<div class="col-md-6"><h3>Tactic</h3></div>
											<div class="col-md-6"><p>Ver. 3 - A fully responsive websocket tic-tac-toe game. Built with javascript controllers and using Firebase for live updating content.</p></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</li>
					<li class="wow fadeInUp fIU2" data-wow-duration="1s" data-wow-delay="2s" data-stellar-background-ratio="0.5">
						<a href="https://lit-bastion-8850.herokuapp.com/">
							<div class="fh5co-overlay"></div>
							<div class="container">
								<div class="fh5co-text">
									<div class="fh5co-text-inner">
										<div class="row">
											<div class="col-md-6"><h3>Trailmix</h3></div>
											<div class="col-md-6"><p>A Ruby on Rails app which accesses multiple API's to help users find cool places to hike. Once a location is searched relevant data such as Instagram pictures, Twitter pictures, weather data, and directions are given for local hiking spots.</p></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</li>
					<li class="wow fadeInUp fIU0" data-wow-duration="1s" data-wow-delay="1.4s" data-stellar-background-ratio="0.5">
						<a href="https://espnclone.herokuapp.com/">
							<div class="fh5co-overlay"></div>
							<div class="container">
								<div class="fh5co-text">
									<div class="fh5co-text-inner">
										<div class="row">
											<div class="col-md-6"><h3>STEVESPN</h3></div>
											<div class="col-md-6"><p>An ESPN clone built from the ground up. A simple showcase of pixel perfect page recreation with responsive-design implementation.</p></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	<script>
		new WOW().init();
	</script>



