  <% provide(:title, "Baby") %>
<div id="cardcontainer">
  <div class='cards'>
  <input type="checkbox" id="card-toggle-1" class="card-toggle" value="selected">
  <label class='card' for="card-toggle-1">
    <div class='front face'>
      <div class="cardfront">
        <div id="label">
        <p class="cardfont">A Message For You</p>
      </div>
      </div>
    </div>
    <div class="inner-left face">
      <div class="inleft">
        <p class="message">
          BABY GORDON<br/>
          ARRIVING<br/>
          JANUARY 2019
        </p>
      </div>
    </div>
    <div class="inner-right face">
      <div class="inright">
        <div class="cardimg"></div>
        <p class="from">Love Steve, Kristy, Khloe & Jack</p>
      </div>
    </div>
  </label>
</div>
</div>