<% provide(:title, "Blog") %>
<%= render 'layouts/header' %>
<div class="containerc">
<!-- <div class="fullpost"> -->
  <div class="post-img">
  <%= image_tag( @post.image.url, :class => "img-responsive") %>
  </div>
  <div class="post-content">
<h3>
  <%= @post.title %>
</h3>
 
<p>
  <%= @post.text %>
</p>
</div>
</div>
<!-- </div> -->
