<div class="container">
<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
<!-- <div class="fullpost"> -->
  <div class="post-img">
  <%= image_tag(@post.image.url, :class => "img-responsive") %>
  </div>
  <div class="post-content">
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
</div>
</div>
<!-- </div> -->
</div>