// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  margin-top: 30px;
}
.date {
  font-size: 15px;
  margin: 2px;
}

.title {
  font-size: 30px;
  margin-bottom: 5px;
}

.text {
  margin: 2px 0px 2px 0px;
}