<% unless action_name == 'show' %>
<div class="fh5co-cover fh5co-cover-style-2 js-full-height <%= cover(yield(:title)) %>" data-stellar-background-ratio="0.1" data-next="yes"
        <span class="scroll-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
        <a href="#">
          <span class="mouse"><span></span></span>
        </a>
      </span>
       <%= render 'layouts/header' %>
      <div class="fh5co-overlay"></div>
      <div class="fh5co-cover-text">
        <div class="container">
          <div class="row">
            <div class="col-md-push-6 col-md-6 full-height js-full-height">
              <div class="fh5co-cover-intro">
              <% if action_name == 'home' %>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s"><%= link_to 'See My Work', projects_path , class: "btn btn-primary btn-outline btn-lg"%></p>
              <% end %>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
<% end %>