<footer>
      <div class="fh5co-footer-style-3">
      <div class="container">
        <div class="row p-b">
          <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="fh5co-logo"><span class="logo">V</span> Voltage</div>
            <p class="fh5co-copyright">&copy; 2016 Voltage. <br>All Rights Reserved. <br>Designed by Steve Gordon <br>Created with <a target="_blank" href="http://freehtml5.co/cards">Cards</a> <br> 
              Images: <a target="_blank" href="http://unsplash.com/">Unsplash</a>, <a target="_blank" href="http://pexels.com/">Pexels</a></p>
          </div>
          </div>
          </div>
          </div>
</footer>